*{

	box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:black;

}

h3 {
	margin-top: 0px;
	/*margin-bottom: 20px;*/
	font-family: "Comic Sans MS", cursive, sans-serif;
}


.contenedor {
	/*margin-top: 55px;*/
	background-color: grey;
	padding: 15px;
	margin: 0px;
	margin-bottom: 15px;
	margin-top: 15px;
}

section {
	background-color: grey;
	padding: 15px;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}


#title {
	margin-bottom: 15px;
	font-weight: bold;
}

.title {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 20px;
}


#header-nav{
	border: 2px solid;
	background-color: grey;
	color: black;
	border-radius: 0;

}

a.navbar-brand {
	font-weight: bold;
	color: black;
}

#marca{
	color: black;
	font-size: 1.4em;
}

span.icon-bar{
	border:1px solid;
}

#boton {
	border:2px solid;
	border-color: black;
}

#boton:hover{
	background-color: grey;
}

#nav-list{
	background-color: #DCE4F3;
	margin-bottom:0;
	margin-top: 0;
}

#nav-list li:last-child {
	border-bottom:none;
}

#nav-list li:first-child {
	border-top: 2px solid;
}

#nav-list li {
	border-bottom: 1px solid;
	padding: 0;
	margin: 0;

}

#nav-list li a{

	color:black;
	padding-top: 1;
	font-weight: bold;
	font-size: 1.1em;

}


#collapsable-nav{
	margin-top:0;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

    padding-right: 10px;
    padding-left: 10px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: grey;
}


 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: grey; 
}

#boton:visited span, #boton:visited, #boton:hover span, #boton:hover{

	border-color: white;

}

   